@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách báo cáo</h4>
                        <div class="card">
                            <div class="table-responsive">
                                <table id="zero_config p-0" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Thời gian báo cáo</th>
                                            <th>Nội dung báo cáo</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyTableReport">
                                        @*<tr>
                                            <td>1</td>
                                            <td>20/11/2019</td>
                                            <td>ABCDEF</td>
                                            <td><div class="badge badge-pill badge-success">Đã báo cáo</div></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>20/11/2019</td>
                                            <td>ABCDEF</td>
                                            <td><div class="badge badge-pill badge-info">Chờ báo cáo</div></td>
                                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top">
                <div class="card-body text-right">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal2">Thêm</button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm báo cáo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="form-group">
                        <label for="fname" class="control-label col-form-label">Tiêu đề báo cáo:</label>
                        <input type="text" class="form-control" id="fname" placeholder="Tiêu đề báo cáo">
                        </div> -->
                        <div class="form-group">
                            <label for="fname" class="control-label col-form-label">1. Công việc hôm qua:</label>
                            <textarea class="form-control" rows="2" id="oldTask" placeholder="Công việc hôm qua"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fname" class="control-label col-form-label">2. Công việc hôm nay:</label>
                            <textarea class="form-control" rows="2" id="newTask" placeholder="Công việc hôm nay"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fname" class="control-label col-form-label">3. Vấn đề:</label>
                            <textarea class="form-control" rows="2" id="newProblem" placeholder="Vấn đề"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fname" class="control-label col-form-label">4. Ngày báo cáo:</label>
                            <input type="datetime-local" class="form-control" id="dayReport">
                        </div>
                        @*<div class="form-group">
                            <label for="fname" class="control-label col-form-label">5. Giờ báo cáo:</label>
                            <input type="time" class="form-control" id="timeReport">
                        </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" id="btnThem" class="btn btn-success">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var listReport = []
    document.getElementById('btnThem').addEventListener('click', function () {
        let oldTask = document.getElementById('oldTask').value
        let newTask = document.getElementById('newTask').value
        let newProblem = document.getElementById('newProblem').value
        let dayReport = document.getElementById('dayReport').value
        //let timeReport = document.getElementById('timeReport').value
        let newReport
        if (newProblem != '') {
            newReport = {
                oldTask: oldTask,
                newTask: newTask,
                newProblem: newProblem,
                dayReport: dayReport,
                //timeReport: timeReport,
                statusReport: true
            }
        } else {
            newReport = {
                oldTask: oldTask,
                newTask: newTask,
                newProblem: 'Không',
                dayReport: dayReport,
                //timeReport: timeReport,
                statusReport: true
            }
        }
        
        listReport.push(newReport)
        console.log(listReport)
        renderTable()
    })
    var bodyTable = document.getElementById('bodyTableReport')
    function renderTable() {
        bodyTable.innerHTML = ''
        for (let index in listReport) {
            let rowData = document.createElement('tr')
            let rowNum = document.createElement('td')
            rowNum.innerHTML = parseInt(index) + 1
            let dayRe = document.createElement('td')
            dayRe.innerHTML = listReport[index].dayReport
            let contentRe = document.createElement('td')
            contentRe.innerHTML = '- ' + listReport[index].oldTask + '<br>- ' + listReport[index].newTask + '<br>- ' + listReport[index].newProblem
            let staRe = document.createElement('td')
            let inStaRe = document.createElement('div')
            if (listReport[index].statusReport) {
                inStaRe.setAttribute('class', 'badge badge-pill badge-info')
                inStaRe.innerHTML = 'Chờ báo cáo'
            } else {
                inStaRe.setAttribute('class', 'badge badge-pill badge-success')
                inStaRe.innerHTML = 'Đã báo cáo'
            }
            staRe.appendChild(inStaRe)

            rowData.appendChild(rowNum)
            rowData.appendChild(dayRe)
            rowData.appendChild(contentRe)
            rowData.appendChild(staRe)
            bodyTable.appendChild(rowData)
        }
        sendMessage()
    }
    function sendMessage() {
        for (let index in listReport) {
            if (listReport[index].statusReport) {
                let newTime = getTimeRemaining(listReport[index].dayReport).totalSec
                setTimeout(function () {
                    let url = "https://hooks.slack.com/services/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";
                    let formData = {
                        text: '- Công việc hôm qua: ' + listReport[index].oldTask + '\n- Công việc hôm nay: ' + listReport[index].newTask + '\n- Vấn đề: ' + listReport[index].newProblem
                    }
                    $.post(url, JSON.stringify(formData), function (data) {
                        console.log(data)
                    });
                }, newTime * 1000)
                listReport[index].statusReport = false
            }
        }
    }
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        var totalSec = (days * 86400) + (hours * 3600) + (minutes * 60) + seconds;
        return {
            //'total': t,
            //'days': days,
            //'hours': hours,
            //'minutes': minutes,
            //'seconds': seconds,
            'totalSec': totalSec
        };
    }
</script>